* {
    margin: 0;
    padding: 0;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

html{
    scroll-behavior: smooth;
}

.navbar {
    background: linear-gradient(90deg, rgb(239, 199, 124), orange);
    display: flex;
    flex-direction: column;
    align-items: center;
    border-radius: 0px 0px 200px 0px;
}

.upperbox {
    padding: 10px 0px;
    display: flex;
    align-items: center;
    justify-content: space-around;
    background-color: white;
    width: 100%;
}


.lowerbox {
    display: flex;
    align-items: center;
    justify-content:center;
    padding: 20px;
    color: white;
    margin: 20px;
}

.lowerbox h1 {
    font-size: 35px;

    margin: 0px 30px;
}

.lowerbox p {
    font-size: 15px;

    margin: 30px;
}

.logo img {
    height: 80px;
}

.itemsContaiener ul {
    display: flex;
    list-style: none;
}


.itemsContaiener ul li {
    display: block;
    padding: 10px 30px;
    color: white;
    border-top: 3px solid rgba(232, 153, 175, 0);
}

.itemsContaiener ul li a {

    color: rgb(0, 0, 0);
    text-decoration: none;
    font-size: 19px;
    transition: all 0.9s ease;
    text-underline-offset: 5px;
}

.itemsContaiener ul li a:hover {
    text-decoration: underline wavy  black 2px;
    text-underline-offset: 5px;
}


.humburger {
    position: absolute;
    right: 10px;
    top: 20px;
    display: none;
    z-index: 1;
    padding: 10px;
}

.humburger-line {
    height: 3px;
    width: 30px;
    background-color: black;
    margin: 5px;
    transition: all 0.3s ease;
}

.menu:nth-child(1) {
    transform: rotate(45deg) translate(10px, 10px);
}

.menu:nth-child(2) {
    transform: translateX(-30px);
    opacity: 0;
}

.menu:nth-child(3) {
    transform: rotate(-45deg) translate(2px, -1px);
}

main {
    padding: 20px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

}

.boxcontainer {
    width: 70%;
}

.boxcontainer h1 {
    padding: 0px 20px;
    font-size: 30px;
}

.box {
    display: flex;
}

.image img {
    width: 400px;
}

.box div {
    padding: 20px;
}

.box-b {
    display: flex;
}

.box-b {
    display: flex;
}

.para-b {
    margin: 30px;
}

.image-b img {
    width: 50vw;
}

.para-b p,
.para p {
    color: gray;
    font-size: 1.3rem;
}

.para-b h1 {
    text-align: center;
    font-size: 35px;
    margin: 0px 20px 20px 20px;
}



footer {
    min-height: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 20px 30px;
}


.table{
    padding: 10px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: rgb(69, 69, 69);
    color: white;
}

.table h1{
     background-color: rgba(255, 255, 0, 0.361);
     padding: 5px;
}
.tableContent{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.content {
    display: flex;
    justify-content: center;
    align-items: center;
}
.content div{
    width: 200px;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 10px;
    background-color: gray;
    margin: 10px;
    font-size: 1.2rem;
}

footer{
    background-color: black;
    color: white;
    display: flex;
    flex-direction: column ;
}

.footercontent{
    display: flex;
   justify-content: space-around;
    width: 100%; 
    padding: 10px;
}

.footernav ul{
    list-style: none;
}

.footernav ul li a{
    color: white;
    display: block;
    margin: 3px;
}





@media only screen and (max-width:1200px) {
    .humburger {
        display: block;
    }

    .upperbox {
        justify-content: center;
        width: 100%;
    }

    .lowerbox {
        flex-direction: column;
        width: 100%;
    }

    .lowerbox h1 {
        font-size: 35px;
        width: auto;
    }

    .lowerbox p {
        font-size: 15px;
        width: auto;
    }

    .itemsContaiener {
        display: none;
        position: absolute;
        top: 0;
        margin-right: 250%;
        width: 100%;
        height: 100vh;
        display: flex;
        justify-content: center;
        padding: 100px 50px;
        background-color: white;
        transition: all 0.9s ease;
    }


    .itemsContaiener ul {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .itemsContaiener ul li a {
        color: black;
    }


    .itemsContaiener-menu {
        position: absolute;
        top: 0;
        margin-right: 0%;
        width: 100%;
        height: 100vh;
        display: flex;
        justify-content: center;
        padding: 100px 50px;
        background-color: white;

    }

    .itemsContaiener-menu ul {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .itemsContaiener-menu ul li a {
        color: black;
    }

    .boxcontainer {
        flex-direction: column;
        align-items: center;
        justify-content: center;
        text-align: center;
    }

    .box,
    .box-b {
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }

    .image-b img {
        width: 80vw;
    }


    .box div {
        padding: 20px 0px;
    }

    .image img {
        width: 300px;
    }

}